/Assets/Prefabs/Map[[:space:]]Generated/01/PF_Map_01.prefab filter=lfs diff=lfs merge=lfs -text

# Vendored snapshot of the original 3D art submodule.
Assets/3D/**/*.tga filter=lfs diff=lfs merge=lfs -text
Assets/3D/**/*.fbx filter=lfs diff=lfs merge=lfs -text
Assets/3D/**/*.png filter=lfs diff=lfs merge=lfs -text
Assets/3D/**/*.exr filter=lfs diff=lfs merge=lfs -text
Assets/Prefabs/Map[[:space:]]Generated/01/PF_Map_01.prefab filter=lfs diff=lfs merge=lfs -text
